[Unit]
Description=MySQL AutoBackup
After=mariadb.service
Requires=mariadb.service

[Service]
Type=oneshot
ExecStop=/usr/local/bin/mysql-autobackup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target