[Unit]
Description=Lamp services

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart apache2 mariadb php-fpm postfix mailhog
ExecStop=/bin/systemctl stop mailhog postfix php-fpm mariadb apache2
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
