[client]
default-character-set   = utf8mb4

[mysql]
default-character-set   = utf8mb4

[mysqld]
skip-name-resolve       = 1
skip-networking         = 1
bind-address            = 127.0.0.1
max_allowed_packet      = 256M
query_cache_size        = 104857600
query_cache_type        = 1
query_cache_limit       = 1048576
innodb_buffer_pool_size = 256M
innodb_file_per_table   = 1
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_520_ci
character_set_server    = utf8mb4
collation_server        = utf8mb4_unicode_520_ci

[mysqldump]
max_allowed_packet      = 256M
