[Unit]
Description=PHP * FPM services
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/php-fpm restart
ExecStop=/usr/local/bin/php-fpm stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
